{
  "check-coverage": true,
  "statements": 30,
  "lines": 30,
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register",
    "tsconfig-paths/register"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/*.d.ts"
  ]
}
